.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

.app-header {
  margin-top: 50px;
}

button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}